* {
  box-sizing: border-box;
}
.heading {
  line-height: 12pt;
  display: flex;
  font-size: 14px;
  margin-left: 7.5%;
  color: black;
  background-color: #ff6600;
  width: 85%;
  margin-top: 8px;
  font-weight: bold;
  height: 25px;
  padding: 2.5px;
}
.icon {
  margin-left: 1px;
  align-content: center;
  border: solid white 1px;
}
.heading-text {
  padding-left: 5px;
  padding-top: 2px;
}
.body {
  display: flex;
  background-color: #f6f6ef;
  width: 85%;
  margin-left: 7.5%;
  padding-left: 10px;
  font-size: 13px;
  flex-direction: column;
}
.news-title {
  margin-top: 8px;
  height: 16px;
}
.story-link {
  color: black;
  text-decoration: none;
}
.info {
  margin-top: 0px;
  margin-bottom: 0px;
  font-size: 10px;
  color: gray;
  height: 12px;
}
.news-title span:hover {
  color: black;
}
